body {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
    background-color: rgb(250, 245, 239);
}
.outer-container {
    height: 100vh;
    min-height: -webkit-fill-available;
    padding-top: 50px;
}
.container {
    width: 700px;
    margin: 0 auto;
    padding: 13px;
    height: 100%;
    border-radius: 30px 30px 0 0;
    border: 2px solid lightgrey;
    border-bottom: 0;
    background: white;
}

.navigation {
    position: fixed;
    bottom: 0;
    margin-left: -15px; /* compensate for padding from outer div (?) */
    width: 700px;
    border: 2px solid lightgrey;
    border-top: 0;
    border-bottom: 0;
    flex: none;
}

/* markdown styling */
.markdown a {
    text-decoration: underline;
    color: rgba(30, 64, 175); /* blue-800 */
}

/* bazaar */
a[href^="https://gumroad.com"]
{
    background-image: url('/img/bazaar/gumroad-logo.svg');
    background-repeat: no-repeat;
    padding-left: 23px;
    text-decoration: underline;
}

a[href^="https://paypal.me"]
{
    background-image: url('/img/bazaar/paypal-logo.svg');
    background-repeat: no-repeat;
    padding-left: 23px;
    text-decoration: underline;
}

a[href^="bitcoin:"] {
    background-image: url("/img/bazaar/bitcoin-logo.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 23px;
    text-decoration: underline;
}

h1,
h2,
h3 {
    color: black;
    width: 100%;
    font-weight: normal;
}
h1 {
    font-size: 24px;
}
h2 {
    color: #9c9c9c;
    font-size: 20px;
    margin: -4% 0 6% 0;
}
input, textarea {
    padding: 10px;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    border: 1px solid rgb(213, 213, 213);
}
input[type=color] {
    padding: 0;
}
table td {
    padding: 0;
    border: 5px solid transparent;
    vertical-align: top;
}

.human-radius {
    border-radius: 42%;
}

@media (max-width: 640px) {
    .container {
        width: 100%;
        border: 0px;
        border-radius: 0;
        box-sizing: border-box;
    }

    .outer-container {
        padding-top: 0;
    }

    .navigation {
        width: 100%;
        border-top: 2px;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        padding: 0 22px 22px 22px;
        margin-left: -12px; /* adapt negative margin left from desktop view? */

        box-sizing: border-box;
    }
}
